body {
    margin: 0;
}

html {
    background: var(--bg);
    color: var(--text);
}

::selection {
    background: var(--accent);
    color: var(--bright-text);
}

a {
    color: var(--accent);
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    transition: 0.2s;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
}

a.uanim::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--accent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
}

a.uanim:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 95vh;
    position: fixed;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    overflow: hidden;
    border-radius: 15px;
    background: var(--bg-2);
    transition: 0.3s;
    border: 1px solid var(--border-3);
    padding: 10px;
    font-weight: 400;
}

.bottom-nav {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
}

ul.collapsed {
    width: 60px;
}

li a {
    display: block;
    color: var(--text);
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 84%;
}

li a:hover {
    background: var(--bg-3);
    color: var(--bright-text);
}

li a.active {
    background: var(--bg-3);
    color: var(--bright-text);
}

.ri {
    font-size: 22px;
}

li a .ri {
    vertical-align: -2px;
    margin-right: 8px;
}

#pageframe {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 250px;
    width: calc(100% - 270px);
    height: 97.2vh;
    border-radius: 15px;
    border: 1px solid var(--border-3);
    background: var(--bg-2);
}

input {
    background: var(--bg-3);
    border: 1px solid var(--border-4);
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: 0.2s;
    width: 200px;
}

input:focus {
    outline: none;
    border: 1px solid var(--accent);
}

input::placeholder {
    color: var(--text);
}

.custom-select {
    position: relative;
    font-family: inter;
    z-index: 999;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
    border-radius: 10px;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    z-index: 999;
}

.select-items {
    border-radius: 10px;
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}